/*
Minimal css here due to the ease of bootstrap
*/

.App-header {
  position: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: initial;
  font-size: calc(10px + 2vmin);
  color: white;
}

#btn1:focus {
  color: red;
}
#btn2:focus {
  color: red;
}
#btn3:focus {
  color: red;
}
#btn4:focus {
  color: red;
}
#btn5:focus {
  color: red;
}

.body-film {
  min-height: 100%;
  overflow-y: scroll;
}
.pill1 {
  background-color: #ffffff !important;
  color: #ffffff !important;
}
.pill2 {
  background-color: #ffffff !important;
  color: #ffffff !important;
}
.pill3 {
  background-color: #ffffff !important;
  color: #ffffff !important;
}

#select{
  margin-bottom: 10px;
}

