.Container {
  background-color: #282c34;
  margin:0;
  padding:0;
}

.List {
  background-color: #282c34;
  margin: 0;
  padding: 0;
}

.Card {
  background-color: #282c34;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
